@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font: {
    size: $font-md;
    weight: $font-wt-400;
    family: "Nunito", sans-serif;
  }
  line-height: 1.5;
}
